/* ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li{
    transform: scaleY(0);
    background: #FF5E0E;
    width: 20%;
} */



/* .my-swap{
    display:table;
} */


.my-btns:hover {
    background-color: #FF5E0E;
    color: white;
    transition: ease-out 500ms;
}

.section {
    height: 100vh;
}



/* .my_marquee img {
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
} */

/* .marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee {
    display: flex;
    animation: marquee 20s linear infinite;
}

.marquee-image {
    width: 200px;
    margin: 0 10px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee.paused {
    animation-play-state: paused;
} */
.marquee {
    position: relative;
}

.marquee img {
    position: absolute;
    object-fit: cover;
}