.my-btns:hover {
  background-color: #FF5E0E;
  color: white;
  transition: ease-out 500ms;
}

.section {
  height: 100vh;
}


.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee a {
  display: inline-block;
  position: absolute;
  transition: none !important;
}

.overlay {
  transition: none !important;
}

.owl-carousel .item {
  margin: 0 10px;
}